@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.auth_container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  align-items:center;
}

.auth_title {
  /* width: 322px; */
  /* height: 38px; */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #28d599;
}

.login_btn {
  background: #28d599;
  border: 1px solid #28d599;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1rem;
  margin-top: 8%;
  padding: 8px 30px;
  color: #ffffff;
  /* width: 10rem; */
}